{% extends 'AppBundle::admin/page.html.twig' %}

{% block title %}Title{% endblock %}
{% block subtitle %}<a href="{{ url('examples-add') }}" class="btn btn-success">Add</a>{% endblock %}

{% block body %}

        {% for ex in examples %}

            <div class="col-md-offset-{{ ex.h * 3 - 3 }} col-md-{{ ex.t * 3 }}" style="background:black;border: 1px solid white;height: 20px;"></div>
        {% endfor %}

{% endblock %}
